:root {
  --sr-base: 4px;
  --sr-font-weight-regular: 400;
  --sr-font-weight-bold: 700;
  --sr-dark: #080a11;

  --twitch-purple: #6441a4;
  --appearIn-rose: #ff2e63;
  --skype-blue: #02abea;
}

/* Background mesh */

/* Main Background mesh */
.bgm {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-blend-mode: lighten;
  background-color: var(--sr-dark);
}

.bgm-fire {
  background-image: url("/img/bg/fire.png");
}

.bgm-firework {
  background-image: url("/img/bg/firework.png");
}

.bgm-space {
  background-image: url("/img/bg/spacestation.png");
}
/* Button */

.sr-button {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.035em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  padding: calc(var(--sr-base) * 4) calc(var(--sr-base) * 14);
  border: none;
  font-size: inherit;
  color: white;
  border-radius: 3px;
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.12);
  font-weight: var(--sr-font-weight-regular);
}

@media (max-width: 600px) {
  .sr-button {
    padding: calc(var(--sr-base) * 4) calc(var(--sr-base) * 7);
  }
}

.sr-button--twitch {
  background: var(--twitch-purple);
}

.sr-button--skype {
  background: var(--skype-blue);
}

.sr-button--appear {
  background: var(--appearIn-rose);
}

/* Icon */
.sr-icon {
  height: 40px;
}

@media (max-width: 600px) {
  .sr-icon {
    height: 20px;
  }
}

/* Social Link */

.sr-social-link {
  display: inline-block;
  margin: 0 calc(var(--sr-base) * 4);
}

/* Headlines */

h2.sr-headline {
  font-size: 50px;
}

h3.sr-headline {
  font-size: 40px;
}

/* Paragraph */

.sr-paragraph {
  max-width: 400px;
  line-height: 28px;
  font-weight: var(--sr-font-weight-regular);
}

/* Links */

a {
  color: inherit;
}
