:root {
  --space: 4px;
  --border-radius: 3px;
  --regular: 400;
  --bold: 700;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: var(--sr-dark);
  color: white;
  margin: 0;
  font-size: 20px;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}

/* Overlay */

.stream_overlay {
  background-color: #070a13;

  display: flex;
  align-items: center;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: opacity 170ms ease-in-out, visibility 170ms ease-in-out;
}

.streaming .stream_overlay {
  visibility: visible;
  opacity: 1;
}

.stream_overlay-title {
  font-size: 10rem;
  line-height: 10rem;
  font-weight: var(--sr-font-weight-bold);
  margin: 0;
}

.stream_overlay-subline {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 5rem;
  font-weight: var(--sr-font-weight-regular);
}

@media (max-width: 915px) {
  .stream_overlay {
    padding: calc(var(--sr-base) * 4);
    justify-content: center;
    text-align: center;
  }
  .stream_overlay-title {
    font-size: 4rem;
    line-height: 5rem;
  }
  .stream_overlay-subline {
    font-size: 1.5rem;
  }
  a {
    margin-bottom: 5px;
  }
}
.stream_overlay-social {
  opacity: 0.5;
  position: absolute;
  bottom: calc(var(--sr-base) * 5);
}

.stream_overlay-close-button {
  position: absolute;
  background: none;
  border: none;
  right: calc(var(--sr-base) * 8);
  top: calc(var(--sr-base) * 8);
}
/* Header */

header {
  background-image: url('/img/cards.png');
  background-size: cover;
  background-position: center center;
  padding: calc(var(--sr-base) * 6);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 637px) {
  .header_logo img {
    width: 80vw;
  }
}

.header_logo-text {
  max-width: 22rem;
  margin: 1rem 0 1.5rem 0;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.header_time-hint {
  text-align: center;
}
/* Introduction */

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(var(--sr-base) * 25) 0;
}

.introduction_content {
  display: flex;
  align-items: center;
  height: auto;
  max-width: 80vw;
}

@media (max-width: 1032px) {
  .introduction_content {
    flex-direction: column;
  }
}

.introduction_image-container {
  overflow: hidden;
  border-radius: 5px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-right: calc(var(--sr-base) * 15);
  justify-content: center;
}

.introduction_image {
  display: inline-block;
  width: 100%;
}

.introduction_info {
  flex: 1;
}

/* Payment  */
.payment {
  padding: calc(var(--sr-base) * 25) calc(var(--sr-base) * 5);
}
.payment_icon {
  margin-top: -5px;
  margin-right: calc(var(--sr-base) * 4);
}
.payment_headline {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.payment_text-grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: calc(var(--sr-base) * 8);
}

@media (max-width: 740px) {
  .payment_headline {
    flex-direction: column;
  }
  .payment_text-grid {
    grid-template-columns: minmax(auto, 300px);
  }
}
/* Costs */

.costs {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: calc(var(--sr-base) * 25) 0;
}

.costs_graph {
  justify-content: center;
  display: grid;
  padding: 0 calc(var(--sr-base) * 5);
  grid-template-columns: 400px 400px;
  grid-template-rows: auto auto;
}

.costs_graph-private-text {
  grid-column: 1;
  text-align: right;
  padding: calc(var(--sr-base) * 5);
}

.costs_graph-private-amount {
  border-radius: 20px 0 0 20px;
  padding: calc(var(--sr-base) * 2) calc(var(--sr-base) * 5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 5px solid white;

  font-size: 40px;
  border-right: none;
}
.costs_graph-business-amount {
  border-radius: 0 20px 20px 0;

  display: flex;
  justify-content: flex-start;
  padding: calc(var(--sr-base) * 2) calc(var(--sr-base) * 5);

  background: white;
  color: var(--sr-dark);
  font-size: 40px;
  border: 5px solid white;
  text-align: left;
}

.costs_graph-business-text {
  padding: calc(var(--sr-base) * 5);
  text-align: left;
}

.costs_graph-business-list {
  padding: 0;
  font-size: 20px;
  text-align: left;
  list-style-type: none;
}

@media (max-width: 920px) {
  .costs_graph {
    padding: calc(var(--sr-graph));
    grid-template-columns: minmax(auto, 420px);
  }

  .costs_introduction {
    padding: 0 calc(var(--sr-base) * 5);
    text-align: left;
  }

  .costs_graph-private-amount {
    border-radius: 0;
    border-right: 5px solid white;

    justify-content: flex-start;
    border-radius: 20px;
  }

  .costs_graph-private-text {
    grid-row: 1;
    text-align: left;
  }
  .costs_graph-business-text {
    grid-row: 3;
  }
  .costs_graph-business-amount {
    border-radius: 20px;
  }
}

/* how */

.how {
  padding: calc(var(--sr-base) * 50) calc(var(--sr-base) * 10);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.how-text {
  margin: 0;
  margin-bottom: calc(var(--sr-base) * 8);
  font-size: 40px;
  max-width: 800px;
  line-height: 52px;
}

@media (max-width: 800px) {
  .how-text {
    font-size: 32px;
    line-height: 40px;
  }
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  color: white;
  padding: 2em;
  text-decoration: none;
}

/* Imprint */

.imprint {
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: column;
}

.imprint div {
  max-width: 800px;
}

/* Supported  */

.supported {
  width: 100%;
  padding: calc(var(--sr-base) * 4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.supported h2 {
  text-align: center;
  width: 100%;
}

.supported_list {
  margin: 0;
  padding: 0;
  padding: calc(var(--sr-base) * 20) 0;
  max-width: calc(var(--sr-base) * 300);
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
}

.supported-list-item {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: calc(var(--sr-base) * 2);
  margin-bottom: calc(var(--sr-base) * 6);
  padding-bottom: calc(var(--sr-base) * 6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.supported_list-who {
  grid-column: 1;
  grid-row: 1;
}

.supported_list-link {
  font-size: 16px;
  text-align: right;
  grid-column: 2;
  grid-row: 1;
}

.supported_list-what {
  font-weight: bold;
  font-size: 28px;
  grid-column: 1/3;
  grid-row: 2;
}

@media (max-width: 580px) {
  .supported-list-item {
    grid-template-rows: auto auto auto;
  }
  .supported_list-link {
    text-align: left;
    grid-column: 1;
    grid-row: 2;
  }
  .supported_list-what {
    grid-row: 3;
  }
}

/* Supportme */

.support-me {
  text-align: center;
  color: black;
  background: white;
  padding: calc(var(--sr-base) * 20) calc(var(--sr-base) * 14);
  max-width: 80vw;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 567px) {
  .support-me {
    max-width: 95vw;
    padding: calc(var(--sr-base) * 10) calc(var(--sr-base) * 6);
  }
}

h2.support-me-headline {
  margin-top: 0;
  margin-bottom: calc(var(--sr-base) * 10);
}

@media (max-width: 1077px) {
  .support-me-buttons {
    grid-auto-flow: row;
    grid-auto-rows: auto;
  }
}
