*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --sr-dark: #26272a;
  --sr-orange: #fa975e;
  --sr-blue: #4274ff;
  --twitch-purple: #6441a4;
  --appearIn-rose: #ff2e63;
  --patreon-orange: rgb(249, 104, 84);
  --skype-blue: #02abea;
  --whatsapp-green: #09e575;

  --sr-max-width: 1280px;
}

body {
  text-align: center;
  font-size: 18px;
  color: white;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  padding: 0;
  background-color: #26272a;
  background-image: url('/img/bg/noise.png'), url('/img/bg/planets.png');
  background-position: initial initial, 50% 50%;
}

@import './header.scss';
@import './footer.scss';
@import './singleClient.scss';
@import './button.scss';

main {
  padding: calc(4px * 6);
}

.skills-list {
  text-align: center;

  margin: 200px 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 60px;
  list-style-type: none;
}

@media (max-width: 800px) {
  .skills-list {
    font-size: 30px;
  }
}

.skills-list_item {
  display: inline-flex;
  padding: calc(4px * 5);
}

/* SOcial */

.social--small .sr-social-link {
  opacity: 0.5;
  height: 30px;
  transition: opacity 170ms ease-out;
}
.social--small .sr-social-link:focus {
  outline: none;
  opacity: 1;
}

.sr-social-link {
  display: inline-flex;
  height: 45px;
  margin: calc(4px * 3);
}
.sr-social-link img {
  height: 100%;
}

/* Feautre */
.features {
  margin: 200px 0;
}
.sr-feature {
  text-align: left;
  display: inline-block;
  max-width: 400px;
  padding: calc(4px * 6) 0;
}
.sr-feature_title {
  font-size: 38px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sr-feature_text {
  line-height: 26px;
  margin: 0;
  font-size: 22px;
  font-weight: 300;
}

/* client Grid */

.client-grid {
  margin: 4px * 20 0;
  max-width: var(--sr-max-width);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.client-grid_headline {
  font-size: 60px;
  width: 100%;
}

.client-thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px * 8;
  overflow: hidden;
  border-radius: 8px;
  transition: box-shadow 170ms ease-out;
  max-width: 500px;

  &:focus {
    outline: none;
    box-shadow: 0 0 20px 5px var(--sr-orange);
  }
}

.client-thumb_image {
  opacity: 0.5;
  width: 100%;
}

.client-thumb_title {
  font-size: 32px;
  color: white;
  margin: 0;
  padding: 0;
  z-index: 5;
  position: absolute;
}

@import './patterns.scss';
