:root {
  --sr-base: 4px;
  --sr-font-weight-regular: 400;
  --sr-font-weight-bold: 700;
  --sr-dark: #080a11;

  --sr-grey: #4b4b4b;
  --twitch-purple: #6441a4;
  --appearIn-rose: #ff2e63;
  --patreon-orange: rgb(249, 104, 84);
  --skype-blue: #02abea;
  --whatsapp-green: #09e575;
}

/* Background mesh */

/* Main Background mesh */
.bgm {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-blend-mode: lighten;
  background-color: var(--sr-dark);
}

.bgm-fire {
  background-image: url('/img/bg/fire.png');
}

.bgm-firework {
  background-image: url('/img/bg/firework.png');
}

.bgm-space {
  background-image: url('/img/bg/spacestation.png');
}

.bgm-galaxy {
  background-image: url('/img/bg/galaxy.png');
}
.bgm-rocket {
  background-image: url('/img/bg/rocket.png');
}

/* Button */

.sr-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 0.035em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  padding: calc(var(--sr-base) * 4) calc(var(--sr-base) * 14);
  border: none;
  font-size: inherit;
  color: var(--sr-grey);
  background: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.12);
  font-weight: var(--sr-font-weight-regular);
}

@media (max-width: 600px) {
  .sr-button {
    padding: calc(var(--sr-base) * 4) calc(var(--sr-base) * 7);
  }
}

.sr-button--twitch {
  color: white;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);

  background: var(--twitch-purple);
}

.sr-button--skype {
  color: white;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);

  background: var(--skype-blue);
}

.sr-button--appear {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  color: white;

  background: var(--appearIn-rose);
}

.sr-button--whatsapp {
  color: white;
  background: var(--whatsapp-green);
}

.sr-button--patreon {
  color: white;
  background: var(--patreon-orange);
}

.sr-button--donate {
  background: #0e0e0e;
  color: white;
}
/* Button Group */

.sr-button-group {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-gap: calc(var(--sr-base) * 3);
}
@media (max-width: 510px) {
  .sr-button-group {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

/* Icon */
.sr-icon {
  height: 40px;
}

@media (max-width: 600px) {
  .sr-icon {
    height: 20px;
  }
}

/* Social Link */

.sr-social-link {
  display: inline-block;
  margin: 0 calc(var(--sr-base) * 4);
}

/* Headlines */

h1.sr-headline {
  font-size: 66px;
}
h2.sr-headline {
  font-size: 50px;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  h2.sr-headline {
    font-size: 40px;
  }
}

h3.sr-headline {
  font-size: 40px;
}
@media (max-width: 800px) {
  h3.sr-headline {
    font-size: 32px;
  }
}

/* Paragraph */

.sr-paragraph {
  max-width: 600px;
  line-height: 28px;
  font-weight: var(--sr-font-weight-regular);
}

/* Links */

a {
  color: inherit;
}
